header img{
    max-width: 50%;
}

header {
    text-align: center;
    
}
body{
    background-color: rgb(233, 200, 200);
}
nav ul{
    list-style: none;
    background-color: rgba(255, 255, 255, 0.774);
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}
nav ul li{
    display: inline;
    margin-right: 30px;
    border-radius: 10px;
    background-color: rgba(253, 121, 121, 0.842);
    padding: 10px;
}

a{
    color: rgb(0, 0, 0);
    text-decoration:none;
}
a:hover {
    color: white; 
    text-decoration: underline;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
p{
    font-size: 18px;
}

footer{
    text-align: center;
    padding: 10px;
}

footer img{
    width: 5%;
}

.product-container{
    display: flex;
    justify-content: space-between;
}

.product{
    padding: 40px;
    text-align: center;
}

.product img{
    width: 70% ;
}