body{
    background-color: rgba(190, 183, 183, 0.863);
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
    line-height: 200%;
}

header{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(61, 71, 71);
    font-weight: bold;
}

main{
    font-family:Arial, Helvetica, sans-serif;
}
h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: 75%;
    border: 2px solid;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
}

a{
    color: rgb(107, 22, 185);
    text-decoration:none;
}

a:hover {
    color: #0056b3; 
    text-decoration: underline;
}

ul {
    text-align: left;
    list-style-type: circle;
    margin: 50px;
    padding: 10px;
}

footer{
    background-color: rgba(245, 245, 220, 0.089);
}